.mat-stepper-horizontal {
  margin-top: 8px;
}

.material-icons{
    font-family: 'Material Icons' !important;
}

.mat-form-field {
  margin-top: 16px;
  width: 100%;
}
.material-icons{
    font-family: 'Material Icons' !important;
}
label{
  margin-left: .5rem;
  margin-bottom: 0;
}
 .questBtn {
                display: flex !important;
                justify-content: space-between !important;
                align-items: center !important;
            }
.questBtn div {
  display: flex;
    flex-basis: 50%;
    justify-content: space-evenly;
}
 .quesBlock div{
      display: flex !important;
    align-items: baseline !important;
    justify-content: flex-end !important;
}
